a{
    text-decoration:none;
    color:rgb(80, 80, 80);
    transition:1s ease;
}
a:hover{
    color:rgb(135, 162, 185);
}
nav > a{
    margin:0 .3em;
}
nav > .active{
    text-decoration:underline;
    color:rgb(61, 61, 61);
}
.title{
    margin:.3em auto;
}
#container{
    margin-top:1em;
    max-width:550px;
    width:100%;
    word-break:break-all;
}
#container img{
    border-radius:.3em;
    max-width:100%;
}
#container ul{
    margin-top:5px;
    padding-left:20px;
}
footer > p{
    color:rgb(187, 187, 187);
    font-size:smaller;
}
del{
    font-size:.5em;
}